<div header subtitle="FTMS" class="header"></div>
<div class="scroll-container">
    <div class="portfolio-content">
        
        <p>
            FTMS (<b>F</b>ield <b>T</b>rail <b>M</b>anagement <b>S</b>ystem) is a rules-driven web application that enables DuPont contractors to manage data collected from chemical test trials.
        </p>
        <br>
        <div class="row info-row">
            <div class="col-sm-2"><b>Dates:</b></div>
            <div class="col-sm-10">January 2015 - Current</div>
        </div>
        <div class="row info-row">
            <div class="col-sm-2"><b>Technologies:</b></div>
            <div class="col-sm-10">
                <a href="http://knockoutjs.com/">Knockout</a>,
                <a href="http://www.typescriptlang.org/">TypeScript</a>,
                <a href="http://msdn.microsoft.com/en-us/library/dn448365(v=vs.118).aspx">ASP.NET Web API 2</a>,
                <a href="https://msdn.microsoft.com/en-us/data/ef.aspx">Entity Framework</a>
            </div>
        </div>
        <div class="row info-row">
            <div class="col-sm-2"><b>Project type:</b></div>
            <div class="col-sm-10">Work project</div>
        </div>
        <hr>
        <div class="cleared"></div>
        <br>

        <p>
            FTMS handles the complex interaction between several pre-existing applications within the DuPont ecosystem.
            FTMS is focused on two main concepts: trials and protocols.
            Protocols define how a particular chemical test is to be executed, while trials represent an implementation of a protocol.
            FTMS is tasked with ensuring that trial and protocol data is properly synced between users and applications.
            Chemicals processed through FTMS can be sold by DuPont with the confidence that they are safe to use and work as advertised.
        </p>
        <p>
            The FTMS team began work in January of 2015, so most of the work on the project has been prototypical in nature.
            Here is a screenshot of a working prototype (with placeholder data for confidentiality reasons) that gives a read-only view of protocol data:
        </p>
        <br>
        <img class="img-responsive demo-image bordered" src="images/ftms.jpg">
        <br>
    </div>
</div>