<div header title="Portfolio" class="header"></div>
<div class="scroll-container">
    <div class="portfolio-content">
        <p><span style="font-weight:bold">Welcome{{s}}.</span>  Thanks for taking a few minutes to check out the highlights of my computing career.</p>
        <p>
            <span class="hidden-xs hidden-sm">Click a project on the left to begin.</span>
            <span class="hidden-md hidden-lg hidden-xl">Select a project from the menu to begin.</span>
            And of course, if you have questions about any of the projects on this page, don't hesitate to contact me: <a href="mailto:hello@nathanfriend.io">hello@nathanfriend.io</a>.
        </p>
        <p>
            Additional contact information, as well as education and work experience information, can be found on <a href="http://nathanfriend.io">my home page</a>.
            And if you're looking for a r&#233;sum&#233;, <a href="Nathan Friend - R&#233;sum&#233;.pdf">look no further</a>.
        </p>
        <br>
        <br>
        <img src="images/signature.png" alt="Nathan Friend" width="200">
    </div>
</div>