<div header subtitle="Location Manager" class="header"></div>
<div class="scroll-container">
    <div class="portfolio-content">
        
        <p>
            Location Manager (LM) is a multi-crop, globalized WPF application used by crop breeders
            to interface with the organization's many legacy databases.
        </p>
        <br>
        <div class="row info-row">
            <div class="col-sm-2"><b>Dates:</b></div>
            <div class="col-sm-10">May 2013 - Current</div>
        </div>
        <div class="row info-row">
            <div class="col-sm-2"><b>Technologies:</b></div>
            <div class="col-sm-10">
                <a href="http://msdn.microsoft.com/en-us/library/ms754130(v=vs.110).aspx">WPF</a>,
                <a href="http://msdn.microsoft.com/en-us/library/ff648465.aspx">Microsoft Prism</a>,
                <a href="http://msdn.microsoft.com/en-us/library/ms731082(v=vs.110).aspx">WCF</a>
            </div>
        </div>
        <div class="row info-row">
            <div class="col-sm-2"><b>Project type:</b></div>
            <div class="col-sm-10">Work project</div>
        </div>
        <div class="row info-row">
            <div class="col-sm-2"><b>How I Contributed:</b></div>
            <div class="col-sm-10">
                Worked as core member of the Location Manager development team
            </div>
        </div>
        <hr>
        <div class="cleared"></div>
        <br>
        
        
        <p>
            Location Manager is an intricate, complex software solution to the problem of large-scale, international research station data management.
            Unfortunately, due to the confidential nature of the application and the data it handles, little can be disclosed about LM's inner workings.
            Here are just a few of the high-level considerations that went into LM's architectural design:
        </p>
        <ul>
            <li>
                <b>Speed.</b>
                LM has dependencies on several legacy systems, many of which have less than ideal response times.
                LM aggressively caches almost all the data it uses and relies heavily on lazy loading to optimize startup times.
            </li>
            <li>
                <b>Reliability.</b>
                In addition to performance issues, many of these same legacy systems have a habit of going down at just the wrong time.
                Because LM is a mission-critical application, even moderate levels of volatility are unacceptable.
                Where possible, LM has been designed to run "disconnected" from these systems and allow end-users to maintain productivity.
            </li>
            <li>
                <b>Backwards compatibility.</b>
                Location Manager will serve as a replacement for a number of legacy application within Pioneer's application ecosystem.
                LM maintains backwards compatibility where feasible and provides new alternatives for functionality slated for retirement.
            </li>
            <li>
                <b>Longevity.</b>
                DuPont Pioneer understands Location Manager to be a long-term investment.
                Great pains have been taken to ensure that Location Manager will be maintainable and extensible for years after its release.
            </li>
        </ul>
        
    </div>
</div>