<div class="header" ng-click="toggleSidePanel()">
    <i class="fa fa-bars"></i>
    <h1 style="float: left">
        <span class="title tiny-title" ng-if="$route.current.isMainPage">Portfolio</span>
        <span class="title normal-title" ng-if="$route.current.isMainPage">Portfolio</span>
        <span class="title normal-title" ng-if="!$route.current.isMainPage">Portfolio:</span>
        <span class="accented" ng-if="!$route.current.isMainPage">{{$route.current.title}}</span>
    </h1>
</div>
<div class="sidebar-container hidden-md hidden-lg" ng-class="{'open': sidePanelIsOpen}">
    <div ng-repeat="project in projects" class="link-container page-{{project.page}}">
        <a ng-href="#/{{project.page}}" ng-click="closeSidePanel();" ng-class="{selected: $location.path() === ('/' + project.page)}">
            <h2 class="project-title">{{project.name}}</h2>
        </a>
    </div>
</div>

<div class="shim"></div>