<div header subtitle="Portfolio" class="header"></div>
<div class="scroll-container">
    <div class="portfolio-content">
        
        <p>
            Portfolio is a content-based web app, written in AngularJS and designed for any device.
        </p>
        <br>
        <div class="row info-row">
            <div class="col-sm-2"><b>Dates:</b></div>
            <div class="col-sm-10">May - November, 2014</div>
        </div>
        <div class="row info-row">
            <div class="col-sm-2"><b>Technologies:</b></div>
            <div class="col-sm-10">
                <a href="https://angularjs.org/">AngularJS</a>,
                <a href="http://lesscss.org/">Less</a>,
                <a href="http://gruntjs.com/">Grunt</a>
            </div>
        </div>
        <div class="row info-row">
            <div class="col-sm-2"><b>Project type:</b></div>
            <div class="col-sm-10">Personal project</div>
        </div>
        <div class="row info-row">
            <div class="col-sm-2"><b>Project URL:</b></div>
            <div class="col-sm-10">You're already here!</div>
        </div>
        <div class="row info-row">
            <div class="col-sm-2"><b>Source code:</b></div>
            <div class="col-sm-10"><a href="https://github.com/nfriend/portfolio">github.com/nfriend/portfolio</a></div>
        </div>
        <hr>
        <div class="cleared"></div>
        <br>
        
        
        <p>
            Little needs to be said about Portfolio - you're currently experiencing it firsthand!
            This application gives special consideration to mobile and tablet users and maintains visual consistency with <a href="http://nathanfriend.io">my home page</a>.
        </p>
        
    </div>
</div>