@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../Fonts/BebasNeue.eot');
    src: url('../Fonts/BebasNeue.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/BebasNeue.woff') format('woff'),
         url('../Fonts/BebasNeue.ttf') format('truetype'),
         url('../Fonts/BebasNeue.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Roboto';
    src: url('../Fonts/Roboto-Regular-webfont.eot');
    src: url('../Fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/Roboto-Regular-webfont.woff') format('woff'),
         url('../Fonts/Roboto-Regular-webfont.ttf') format('truetype'),
         url('../Fonts/Roboto-Regular-webfont.svg#RobotoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Roboto';
    src: url('../Fonts/Roboto-Italic-webfont.eot');
    src: url('../Fonts/Roboto-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/Roboto-Italic-webfont.woff') format('woff'),
         url('../Fonts/Roboto-Italic-webfont.ttf') format('truetype'),
         url('../Fonts/Roboto-Italic-webfont.svg#RobotoItalic') format('svg');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'Roboto';
    src: url('../Fonts/Roboto-Bold-webfont.eot');
    src: url('../Fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/Roboto-Bold-webfont.woff') format('woff'),
         url('../Fonts/Roboto-Bold-webfont.ttf') format('truetype'),
         url('../Fonts/Roboto-Bold-webfont.svg#RobotoBold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Roboto';
    src: url('../Fonts/Roboto-BoldItalic-webfont.eot');
    src: url('../Fonts/Roboto-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/Roboto-BoldItalic-webfont.woff') format('woff'),
         url('../Fonts/Roboto-BoldItalic-webfont.ttf') format('truetype'),
         url('../Fonts/Roboto-BoldItalic-webfont.svg#RobotoBoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;

}

body
{
	font-family: 'Roboto';
	text-align: center;
/*	background-image: url('../Images/grid_noise.png');*/
	background-repeat: repeat;
}

h1
{
	font-family: 'BebasNeueRegular';
	font-size: 5em;
	margin: 0px;
	padding: 0px;
}

h2
{
	font-family: 'BebasNeueRegular';
	font-size: 3em;
	margin: 0px;
	padding: 0px;
}

h3
{
	font-family: 'BebasNeueRegular';
	font-size: 2em;
	margin: 0px;
	padding: 0px;
}

a:link
{
	color: #CE1417;
	
}

a:visited
{
	color: #820E0E;
}

input[type=submit]
{
	background-color: #CA1417;
	border-color: black;
	border-style: solid;
	border-radius: 4px;
	color: white;
	font-size: 1em;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#container
{
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	text-align: left;
	max-width: 900px;
	min-width: 225px;
}

#header-container
{
	width: 100%;
}

#content-container
{
	width: 100%;	
}

#header-first
{
	text-align: left;
	float: left;
	overflow:hidden;
	max-width: 700px;
}

#header-second
{
	text-align: right;
	float: right;
}

#content
{	
	float: left;
	max-width: 500px;
}

#sidebar
{
	float: right;
	width: 215px;
	border-radius: 4px;
	padding: 0px;	
}

#sidebar .block
{
	background-color: #D6D6D6;
	border-radius: 4px;
	padding: 10px;
	margin-bottom: 10px;
}

.block h2
{
	text-align: center;
}

#footer
{
	width: 100%;
	text-align: center;
}

#footer .block
{
	border-style: solid;
	border-radius: 4px;
	border-color: #BBBBBB;
	margin-bottom: 10px;
	padding: 15px;
}


.header-text
{
	font-size: 5em;
	float: left;
	margin: 0px;
	padding: 0px;
}

#logo-container
{
	float: none;
	margin-left: auto;
	margin-right: auto;
	max-width: 660px;
	display: inline-block;	
	text-decoration: none;
}

#menu-item-container
{
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	float: none;
}

.menu-item
{
	height: 56px;
	width: 56px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 20px;
	background-color: #CE1417;
	border-style: solid;
	border-radius: 5px;
	border-width: 4px;
	float: right;	
	margin-top: 12px;
}

.menu-item:visited, .menu-item:link
{
	border-color: black;
	
}

.cleared
{
	clear:both;
}

#main-horizontal-separator
{
	clear: both;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	height: 15px;
/*	background-image: url("../Images/line2.png"); */
	border-bottom-style: ridge;
	border-color: #BBBBBB;
	border-width: 8px;
	text-align: center;	
}


.horizontal-separator
{
	clear: both;
	width: 250px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	height: 25px;
/*	background-image: url("../Images/line2.png"); */
	border-bottom-style: ridge;
	border-color: #BBBBBB;
	border-width: 6px;
	text-align: center;	
}

#main-horizontal-separator:after
{
	content: "///";
	color: #CE1417;
	display: inline-block;
	position: relative;
	top: 0em;
	font-size: 2.5em;
	padding: 0 0.25em;
	background: white;
}


.horizontal-separator:after
{
	content: "///";
	color: #CE1417;
	display: inline-block;
	position: relative;
	top: 0.7em;
	font-size: 1.5em;
	padding: 0 0.25em;
	background: white;
}

#block-user-login
{
	text-align: center;
}

#block-search-form
{
	text-align: center;
}

#block-search-form input:not([type=submit])
{
	width: 80px;
}

#block-search-form input[type=submit]
{
	margin-left: 5px;
	margin-right: 5px;
}

.submitted .user-picture img
{
	float: left;
	height: 20px;
	margin: -3px 5px 0 0;
	border-radius: 4px;
	border-style: solid;
	border-width: 1px;
	border-color: #838383;
}

.attribution .user-picture img
{
	border-radius: 4px;
}

.submitted
{
	color: #838383;
	margin-top: 5px;
}

.field-name-field-tags .field-item
{
	float:left;
	margin-left: 5px;
	margin-right: 5px;
}

.field-name-field-tags .field-label
{
	float: left;
}

.link-wrapper .links
{
	float: right;
}

#search-form #edit-basic
{
	margin-bottom: 20px;
	text-align: center;
}

#search-form #edit-basic input[type=submit]
{
	margin-top: 10px;
	margin-bottom: 10px;
}


#search-form #edit-basic input:not([type=submit])
{
	border-style:solid;
	border-radius: 4px;
	border-color: #838383;
}


.block .row-item ul
{
	margin: 3px;
	padding-left: 20px;
}

.block .row-item
{
	background-color: #EAEAEA;
	border-radius: 4px;
	padding: 10px;
	margin-bottom: 5px;
	text-align: left;
}

.block .row-item:hover
{
	background-color: #F0F0F0;
}

.block .no-underline a
{
	text-decoration: none;
}

.quote-author, .quote-content
{
	display: inline-block;
}


/* ----------- Comment ------------ */


.comment h2.title {
  margin-bottom: 1em;
}
.comment div.user-picture img {
  margin-left: 0; /* LTR */
}
.comment {
  margin-bottom: 20px;
  display: table;
  vertical-align: top;
}
.comment .attribution {
  display: table-cell;
  padding: 0 30px 0 0; /* LTR */
  vertical-align: top;
  overflow: hidden;
}
.comment .attribution img {
  margin: 0;
  border: 1px solid #d3d7d9;
}
.comment .attribution .username {
  white-space: nowrap;
}
.comment .submitted p {
  margin: 4px 0;
  font-size: 1.071em;
  line-height: 1.2;
}
.comment .submitted .comment-time {
  font-size: 0.786em;
  color: #68696b;
}
.comment .submitted .comment-permalink {
  font-size: 0.786em;
  text-transform: lowercase;
}
.comment .content {
  font-size: 0.929em;
  line-height: 1.6;
}
.comment .comment-arrow {
  background: url(../Images/comment-arrow.gif) no-repeat 0 center transparent; /* LTR */
/*  border-left: 1px solid; */
  border-right: 1px solid #F4F4F4;
  height: 40px;
  margin-left: -46px; /* LTR */
  margin-top: 10px;
  position: absolute;
  width: 20px;
}
.comment .comment-text {
  padding: 10px 25px;
  border: 1px solid #d3d7d9;
  display: table-cell;
  vertical-align: top;
  position: relative;
  width: 100%;
  border-radius: 4px;
  background-color: #F4F4F4;
}
.comment .indented {
  margin-left: 40px; /* LTR */
}
.comment ul.links {
  padding: 0 0 0.25em 0;
}
.comment ul.links li {
  padding: 0 0.5em 0 0; /* LTR */
}
.comment-unpublished {
  margin-right: 5px; /* LTR */
  padding: 5px 2px 5px 5px; /* LTR */
}
.comment-unpublished .comment-text .comment-arrow {
  border-left: 1px solid #fff4f4;
  border-right: 1px solid #fff4f4;
}

/* ----------- Comment ------------ */

/* --------- Comment form --------- */
.comment-form label {
  float: left; /* LTR */
  font-size: 0.929em;
  width: 120px;
}
.comment-form input:not([type=submit]),
.comment-form .form-select {
  margin: 0;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border-color: #838383;
  border-style: solid;
}
.comment-form .form-type-textarea label {
  float: none;
}
.comment-form .form-item,
.comment-form .form-radios,
.comment-form .form-type-checkbox,
.comment-form .form-select {
  margin-bottom: 10px;
  overflow: hidden;
}
.comment-form .form-type-checkbox,
.comment-form .form-radios {
  margin-left: 120px; /* LTR */
}
.comment-form .form-type-checkbox label,
.comment-form .form-radios label {
  float: none;
  margin-top: 0;
}
.comment-form input.form-file {
  width: auto;
}
.no-sidebars .comment-form .form-text {
  max-width: 400px;
  width: 80%;
}
.one-sidebar .comment-form .form-text {
  width: 500px;
}
.two-sidebars .comment-form .form-text {
  width: 320px;
}
.comment-form .form-item .description {
  font-size: 0.786em;
  line-height: 1.2;
  margin-left: 120px; /* LTR */
}
#content h2.comment-form {
  margin-bottom: 0.5em;
}
.comment-form .form-textarea {
  -khtml-border-radius-topleft: 4px;
  -khtml-border-radius-topright: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.comment-form fieldset.filter-wrapper .fieldset-wrapper,
.comment-form .text-format-wrapper .form-item {
  margin-top: 0;
  margin-bottom: 0;
}
.filter-wrapper label {
  width: auto;
  float: none;
}
.filter-wrapper .form-select {
  min-width: 120px;
}
.comment-form fieldset.filter-wrapper .tips {
  font-size: 0.786em;
}
#comment-body-add-more-wrapper .form-type-textarea label {
  margin-bottom: 0.4em;
}
#edit-actions input {
  margin-right: 0.6em; /* LTR */
}

.form-textarea-wrapper textarea
{
	border-style: solid;
	border-color: #838383;
	border-width: 2px;
}

/* --------- Comment form --------- */
